body{
    background-color:  rgb(126, 234, 250); 
}
#card{
    width: 70%;
    background-color:    rgb(212, 235, 235);
    margin: 0 auto;
    border-radius: 19px;
}
#inputs{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
}
input{
    border-radius: 10px;
    width: 70%;
    font-size: x-large;
}
label{
    font-size: x-large;
}
#botoes{
    text-align: center;  
 
}
/* #botao1{
    display: flex;
    flex-direction: row;
    gap: 20px;
 
}
#botao2{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
   
} */
#b1{
    background-color:  rgb(182, 255, 254);
    padding: 15px;
    color: rgb(0, 0, 0);
}
#b2{ 
    background-color: rgb(182, 255, 254);
    padding: 15px;
    color: rgb(0, 0, 0);
}
#b3{
    background-color: rgb(182, 255, 254);
    padding: 15px;
    color: rgb(0, 0, 0);
}
#b4{
    background-color:  rgb(182, 255, 254);
    padding: 15px;
    color: rgb(0, 0, 0);
}
